@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* common style */
.primary-btn{
    width: 163px;
    background-color: #FD6E0A;
    color: #FFF;
    border: 0;
    padding: 18px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}
.main-btn{
    margin-right: 15px;
}
.secondary-btn{
    width: 163px;
    background-color: transparent;
    color: #FD6E0A;
    border: 0;
    padding: 18px 30px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #FD6E0A;
    font-weight: 700;
}
.header{
    background-color: #FFF8F3;
    padding-left: 39px;
}
section{
    margin-bottom: 130px;
}
/* nav style */
.logo{
    color:rgb(53, 52, 52);
    font-size: 48px;
    font-weight: 800;
    cursor: pointer;
}
.cl-logo{
    color: #FD6E0A;
}
nav{
    display: flex;
    padding: 30px 30px;
    justify-content: space-around;
    align-items: center;
}
nav > .nav-menu{
    display: flex;
    align-items: center;
}
nav .nav-menu li{
    list-style: none;
}
nav .nav-menu li a{
    text-decoration: none;
    margin-right: 58px;
    color: rgb(53, 52, 52);
    font-size: 22px;
}
/* banner style */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url('../images/header_bg.png'), url('../images/developer.png');
    background-position: bottom right, top left;
    background-repeat: no-repeat;
}
.banner-text{
    width: 394px;
    margin-left: 71px;
}
.title-greeting{
    font-size: 42px;
    color: rgb(53, 52, 52);
    font-weight: 500;
}
.title{
    color: rgb(53, 52, 52);
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 12px;
}
.header-description{
    color: rgb(53 52 52 / 38%);
    font-size: 12px;
    font-style: normal;
    margin-bottom: 24px;
}
.banner-img{
    width: 501px;
    height: 580px;
}
.banner-img img{
    width: 100%;
    height: 100%;
}
/* main section style start */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* main section style end */
/* about section style start */
.about{
    background-color: #FFF8F3;
    margin-top: 130px;
    padding: 130px 150px;
    border-radius: 10px;
}
.about-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}
.about-description{
    color: #00000075;
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.about-info h3{
    color: #00000075;
    font-style: normal;
    font-weight:300;
    font-size: 17px;
}
.about-info p{
    font-weight: 700;
    color: rgb(53, 52, 52);
}
/* about section style end */
/* what i do section style start */
.what-i-do-title{
    text-align: center;
    color: rgb(53, 52, 52);
    margin-bottom: 30px;
    font-weight: 700;
}
.what-i-dodescription{
    text-align: center;
    font-size: 17px;
    color: #00000075;
    margin-bottom: 30px;
}
.what-i-do-container{
    display: flex;
    justify-content: space-around;
}
.what-i-do-info{
    padding: 25px;
    box-shadow: -9px 13px 13px 0px #6a696636;
    margin-right: 31px;
    border-radius: 5px;
    border: 1px solid #00000038;
    justify-content: center;
}
.what-i-do-info h3{
    margin: 10px 0px;
    color: rgb(53, 52, 52);
}
.what-i-do-info p{
    color: #00000075;
}
/* what i do section style end */
/* resume section style start */
.resume-title{
    text-align: center;
    color: rgb(53, 52, 52);
    font-weight: 700;
    margin-bottom: 30px;
}
.resume-container{
    display: flex;
    gap:30px;
}
.resume-details{
    padding: 20px 0px;
}
.resume-info h3{
    color: rgb(53, 52, 52);
    margin-bottom: 10px;
}
.resume-info .resume-details h4{
    color: rgb(53, 52, 52);
    margin-bottom: 10px;
}
.resume-info .resume-details h5{
    color: #00000075;
    margin-bottom: 10px;
}
.resume-info .resume-details p{
    font-size: 15px;
    color: #00000075;
}
#primary-btn-2{
    width: 163px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
/* resume section style end */